html, body {
	width: 99%;
	height: 99%;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #efe7d0;
}

div.body-panel {
	width: 1200px;
	background-color: #fffaf4;
	margin-left: auto;
	margin-right: auto;
	min-height: 98%;
}

div.header {
	height: 80px;
}

div.userDetail {
	position: relative;
	right: -822px;
	top: -12px;
}

div.needUser {
	display: none;
}

div.hasUser {
	display: none;
}

div.searchPanel {
	position: relative;
	right: -544px;
}

div.postSearch {
	display: none;
}

div.searchResult {
	margin-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #0B2070;
}

h1 span {
	font-size: 3.2em;
	position: relative;
	top: -8px;
	left: 12px;
}

div.sidebar {
	position: fixed;
	margin-left: 9%;
	padding-left: -10px;
	width: 10px;
	background-color: #2030A8;
	top: 0;
	bottom: 0;
}

div.content {
	margin-left: 9%;
	padding-left: 30px;
	width: 79%;
}

.header1 {
	font-size: 2em;
	font-weight: bold;
}

.header2 {
	font-size: 1.6em;
	font-weight: bold;
}

.header3 {
	font-size: 1.22em;
	font-weight: bold;
}

th, td {
	margin: 4px;
}

textarea.address {
	width: 80%;
	height: 92px;
}
